header {
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: #0A1A41;
    align-items: center;
    height: 922px;

    a {
        color: white;
        text-decoration: none;

        &:hover {
            color: rgba(137, 150, 184, .6);
        }

    }

    .header__nav {
        li {
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            text-align: left;

            img {
                scale: 120%;
            }
        }

        &-list {
            width: 200px;
            height: 450px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            li {
                width: inherit;
                
                a {
                    height: 50px;
                    align-items: center;
                    width: inherit;
                    display: flex;
                    justify-content: start;
                    border-radius: 10px;
                    transition: ease-in-out 0.5s;

                    &:hover {
                        background-color: #091227;
                    }

                    img {
                        padding-left: 20px;
                        padding-right: 20px;
                    }
                }

            }
        }
    }

}